* {
    margin: 0;
    padding: 0;
}

.cart-place {
    transition: .3s;
    transform: translateX(10%);
}

.home {
    display: grid;
    grid-template-columns: 5fr 1fr;
    justify-content: center;
    overflow: hidden;

}

.padding {
    width: 100%;
    height: 25%;
}